
<h1><span style="color: #0000ff;">V&aelig;r for hver og en</span></h1>
<p style="text-align: left;"><span style="color: #0000ff;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span style="color: #808080;">-En side som viser v&aelig;ret for folk flest i Norge</span></span></p>
<p style="text-align: left;">&nbsp;</p>
<h4 style="text-align: left;"><span style="color: #000000;">Kristiansand</span></h4>
<script src="http://www.yr.no/sted/Norge/Vest-Agder/Kristiansand/Kristiansand/ekstern_boks_time_for_time.js"></script><noscript><a href="http://www.yr.no/sted/Norge/Vest-Agder/Kristiansand/Kristiansand/">yr.no: Værvarsel for Kristiansand</a></noscript>
<h4><span style="color: #000000;">Oslo</span></h4>
<script src="http://www.yr.no/sted/Norge/Oslo/Oslo/Oslo/ekstern_boks_time_for_time.js"></script><noscript><a href="http://www.yr.no/sted/Norge/Oslo/Oslo/Oslo/">yr.no: Værvarsel for Oslo</a></noscript>
<h4>Trondheim</h4>
<script src="http://www.yr.no/sted/Norge/Sør-Trøndelag/Trondheim/Trondheim/ekstern_boks_time_for_time.js"></script><noscript><a href="http://www.yr.no/sted/Norge/Sør-Trøndelag/Trondheim/Trondheim/">yr.no: Værvarsel for Trondheim</a></noscript><h4>Bergen</h4>
<script src="http://www.yr.no/sted/Norge/Hordaland/Bergen/Bergen/ekstern_boks_time_for_time.js"></script><noscript><a href="http://www.yr.no/sted/Norge/Hordaland/Bergen/Bergen/">yr.no: Værvarsel for Bergen</a></noscript>
<p>&nbsp;</p>


<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 500px;
        width: 50%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 60.47202399999999, lng: 8.46894599999996};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVtXYyPvWlKptp3EH0FMEdyAWFklMO6JM&callback=initMap">
    </script>
  </body>
</html>